.container-app{
    margin: 0;
    padding: 0;
    background: #f0f0f0;
    font-family: sans-serif;
}/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap.scss"
