<div class="product-container">
  <div class="client-name">
    <form class="form-inline " [formGroup]="nameForm">
      <div class="form-group my-2">
        <label class=" name">Cliente:</label>
        <input (input)="captureName()" formControlName="nameValue" type="text" class="form-control client-input"
          id="formGroupExampleInput" placeholder="Ingresa tu nombre">
      </div>
    </form>
  </div>

  <div>
    <table class="table ">
      <thead>
        <tr>
          <th scope="col">Cantidad</th>
          <th scope="col">Descripción</th>
          <th scope="col">Precio</th>
        </tr>
      </thead>
      <tbody *ngFor="let Products of arrOrderProducts">
        <tr>
          <td>
            <button type="button" class="btn-addMinusProduct" (click)="addProducts(Products)">+</button>
            <span for="">{{Products.quantity}}</span>
            <button type="button" class="btn-addMinusProduct" (click)="subtractProducts(Products)">-</button>
          </td>

          <td>
            <span>{{Products.data.name }}</span><br>
            <span  class="extra-price" *ngIf="Products.Queso === true && Products.Huevo === undefined"> 
              <p>+ queso</p>
              <p>S/ {{Products.priceExtra * Products.quantity}}</p>
             </span>
            <span class="extra-price" *ngIf="Products.Huevo === true && Products.Queso === undefined"> 
              <p>+ huevo</p>
             <p>S/ {{Products.priceExtra * Products.quantity}}</p> 
            </span>
            <span class="extra-price" *ngIf="Products.Huevo === true && Products.Queso === true">
               <p>+ huevo y queso</p> 
             <p>S/ {{Products.priceExtraTwo * Products.quantity }}</p> 
            </span>
          </td>
          <td>
            <span>S/ {{Products.data.price * Products.quantity}}</span>
          </td>
          <td>
            <button type="button" class="btn-delete" (click)="deleteProduc(Products)">
              <img src="../../../assets/Delete.ico" width="30" height="30" class="d-inline-block align-top" alt="">
            </button>
          </td>

        </tr>
      </tbody>
    </table>
  </div>

  <div class="send-Order">
    <div class="total-price">
      <p>Total:</p>
      <span>S/ {{ totalPrice }}</span>
    </div>
    <button (click)="sendToOrrder()" type="button" class=" btn btn-warning btn-order">Enviar a la cocina
    </button>
  </div>
</div>