<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

  <app-head></app-head> 
  <app-client-name></app-client-name>
  <app-btn-send></app-btn-send>
  <app-options-menu></app-options-menu>

  <div class="tabOrder">
    
    <app-products></app-products>
    <app-data-order></app-data-order>
  </div>
  
 
</body>
</html>
