
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="#">
        <img src="../../../assets/logotransparent.png" width="30" height="30" class="d-inline-block align-top" alt="">
        Burger Queen
      </a>
      <form class="form-inline">
        <button class="btn btn-outline-success   mr-sm-2" type="submit">Menu</button>
        <button class="btn btn-outline-success  mr-sm-2"  type="submit">Cocina</button>
      <button class="btn btn-outline-success   mr-sm-2" type="submit">Resumen</button>
    </form>
    </nav>
   


    <nav class="navbar navbar-light bg-light">
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </nav>

  <form class="form-inline">
    <div class="form-group my-2">
      <label for="inputPassword6">Client</label>
      <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter your name">

    </div>
  </form>

  <button class="btn btn-info" id="boton">Send to kitchen</button>
