
  <nav class="navbar navbar-light bg-dark">
    <a class="navbar-brand">BurgerQueen</a>
    <form class="form-inline">
        <button class="btn btn-outline-success my-2 my-2" type="submit">Menu</button>
        <button class="btn btn-outline-success my-3 my-2" type="submit">Kitchen</button>
      <button class="btn btn-outline-success my-4 my-2" type="submit">Resume</button>
    </form>
  </nav>

  <form class="form-inline">
    <div class="form-group my-2">
      <label for="inputPassword6">Client</label>
      <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter your name">

    </div>
  </form>

  <button class="btn btn-info" id="boton">Send to kitchen</button>
