
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="#">
        <img src="../../../assets/logotransparent.png" width="30" height="30" class="d-inline-block align-top" alt="20">
       <h1 [ngStyle]="{'font-size': 'medium'}" >Burger Queen</h1> 
      </a>
      <form class="form-inline">
        <button class="btn-head btn btn-outline-success  mr-sm-2" type="button">Menu</button>
        <button class=" btn-head btn btn-outline-success mr-sm-2"  type="button">Cocina</button>
      <button class=" btn-head btn btn-outline-success  mr-sm-2" type="button">Resumen</button>
    </form>
    </nav>
   





